server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/rjask/microservice-projects.git
          default-label: main
          clone-on-start: true
          search-paths: config-server